@import "tailwindcss";
@plugin 'tailwind-scrollbar';

body {
  background-color: rgb(252, 188, 188);
}

button {
  cursor: pointer;
}

textarea:focus,
input:focus {
  outline: solid rgb(254, 108, 133) 1px;
}
